div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.btn-modern {
    border: none;
    background-color: blue;
    color: black;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;

}

.btn-modern:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 5px rgba(19, 23, 235, 0.678);
    background-color: rgb(56, 56, 117) ;
    color: white;
    transition: all 0.4s;
}